.attach-image {
	max-height: none;
}
.attach-image img {
	max-width: 100%;
	border: 0;
}
.rotate-container {
	float: right;
	text-align: right;
	margin-top: 5px;
}
.rotate a {
	display: inline-block;
	margin: 0 10px;
	text-decoration: none;
}
.rotate a:active,
.rotate a:hover,
.rotate a:focus {
	text-decoration: none;
}
