.attach-image, .attachcontent {
	max-height: none;
	overflow: auto;
}
.attach-image img, .attachcontent img {
	max-width: 100%;
	border: 0;
}
.inline-attachment .rotate-container {
	float: right;
	text-align: right;
	margin-top: 5px;
}
.attachcontent .rotate-container {
	text-align: left;
	margin: 10px 0;
}
.rotate-container a {
	display: inline-block;
	text-decoration: none;
}
.rotate-container  a:first-child {
	padding-right: 10px;
}
.rotate a:active,
.rotate a:hover,
.rotate a:focus {
	text-decoration: none;
}
